



.news__wrapper {	
	display: flex;
	justify-content:space-around;
}

.news__post {
	flex-basis: 65%;
}

.post__item {
	
	margin: 0 auto;
}

.news__tags__comment {
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
}