.team-services {
	padding: 100px 0;
    background-color: rgb(73, 73, 73);
	&-title {		
		text-align: center;
		margin-bottom: 50px;
		font-size: 70px;
		font-family: RobotMedium;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
	}
	&-box {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 350px;
		height: 420px;
		padding: 40px 5px;
		box-sizing:border-box;
		border:rgba(0, 0, 0, 0.808);
		background-color:rgb(255, 255, 255);	
		border: 1px solid rgba(0, 0, 0, 0.808);
		text-align: center;
	}
	.item__header-img {
		margin: 0 auto 20px;
		background-image: url('../../../images/worker.svg');
		height: 60px;
		width: 60px;
		background-repeat: no-repeat;
	}

	.item__header {
		width: 100%;
		
		&-title {
			height: 50px;
			font-size: 24px;
			box-sizing:border-box;
			color: rgb(73, 73, 73);
			font-family: RobotMedium;
		}
		
	}
	.item__main {
		font-size: 50px;
		
	}
	.item__footer {
		height: 200px;
		display: flex;		
		flex-direction: column;
		justify-content: flex-end;
		
		&-item {
			width: 330px;
			height: 30px;
			font-size: 20px;
			margin: 6px auto 4px;
			border-bottom: 1px solid rgba(73, 73, 73, 0.219);			
		}
	}

}